# Ignorar node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar directorios de compilación
dist/
build/

# Ignorar archivos de configuración de sistema operativo
.DS_Store
Thumbs.db